@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
 body{
  font-family: 'Josefin Sans', sans-serif;
 } 
 
 /* .cart-fav-search{
  padding: 5px 0;
 } */
  .font_nav_btn{
    font-size: 16px;
    font-style: normal;
  }
  .index1{
    max-width: 533px;
    max-height: 757px;
  }
  
  .containerinte
  {
    /* font-family: 'Times'; */
    font-family: 'Dancing Script', cursive;
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* padding-left: 5px;
    padding-right: 5px; */
  }

  .textinte
  {
    font-size: 26px;
    /* text-transform: uppercase; */
    position: relative;
    color: #8d8c8c;
    /* color: #6D6D6D; */
    padding: 3px;
  }

  .textinte::before
  {
    content: attr(data-text);
    position: absolute;
    color: #FBB710;
    width: 0;
    overflow: hidden;
    /* transition: 0.6s; */
  }

  .containerinte::before
  {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    /* background: #FBB710; */
    border-bottom: 3px solid #FBB710;
    transition: 0.6s;
  }

  .containerinte:hover .textinte::before,.containerinte:hover::before
  {
    width: 100%;
    font-weight: bold;
  }
  
.interior_color{
  width: 80%;
}
.interior_color:hover{
  width: 85%;
  box-shadow: #FBB710 3px 3px;
  border: 1px solid #E0A792;
  /* border-radius: 1000px; */
  transition: 0.1s;
}

.inte_search{
  font-family: 'Times New Roman', Times, serif;
}

/* review */
:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}


.hero-section{
  align-items: flex-start;
  /* background-image: linear-gradient(15deg, #675b0f 0%, #73672a 150%); */
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(21fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card_interior{
  list-style: none;
  position: relative;
}

.card_interior:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card_interior:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card_interior:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 28px;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  font-family: 'Dancing Script', cursive;;
  /* word-spacing: 100vw; */
}

/*  */

.btncart{
  width: 50px;
  height: 40px;
  color: #fff;
  background-color: #131212;
  border: 1px solid #131212;
  /* padding: 2px; */
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.btncart::before{
  width: 0;
  height: 100%;
  position: absolute;

}
.btncart:hover,.btncart::before{
  width: 70px;
  background-color: #FBB710;
  border: 1px solid #FBB710;
  border-radius: 10%;
  transition: 0.5s;
  box-shadow: #2d3548 3px 3px;
}
.btncart:focus{
  outline:0 !important;
}

.btntotal{
  font-family: Times;
  width: 168px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
  color: #fff;
  background-color: #28A745;
  border: 1px solid #28A745;
  /* padding: 2px; */
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.btntotal::before{
  width: 0;
  height: 100%;
  position: absolute;
}
.btntotal:hover,.btntotal::before{
  width: 205px;
  margin-left: 15px;
  background-color: #FBB710;
  border: 1px solid #FBB710;
  font-style: italic;
  transition: 0.7s;
}
.btntotal:focus{
  outline:0 !important;
}

.btn_total_momo{
  width: 100%;
  /* padding-left: 20px;
  padding-right: 20px; */
  /* padding-top: 3px;
  padding-bottom: 1px; */
  background-color: #ffffff;
  color: #fff;
  border: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* font-family: Arial;
  font-weight: bold;
  font-size: 15px; */
}
/* .btn_total_momo::before{
  width: 0;
  height: 100%;
  position: absolute;
}
.btn_total_momo:hover,.btn_total_momo::before{
  width: 100%;
  background-color: #fff;
  color: #AF1A71;
  transition: 0.5s;
  font-weight: bold;
} */
.btn_total_momo:focus{
  outline:0 !important;
}

.btn_total_vnpay{
  width: 100%;
  /* padding-left: 20px;
  padding-right: 20px; */
  /* padding-top: 3px;
  padding-bottom: 1px; */
  background-color: #ffffff;
  /* color: #fff; */
  border: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* font-family: Arial;
  font-weight: bold;
  font-size: 15px; */
  max-width: 268px;
}
/* .btn_total_vnpay::before{
  width: 0;
  height: 100%;
  position: absolute;
}
.btn_total_vnpay:hover,.btn_total_vnpay::before{
  width: 100%;
  background-color: #fff;
  color: #ED1C24;
  font-weight: bold;
  transition: 0.5s;
} */
.btn_total_vnpay:focus{
  outline:0 !important;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 100px;
  min-height: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  /* letter-spacing: 1.3px; */
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #ededed;
  background: #FBB710;
  background: linear-gradient(90deg, rgb(230, 220, 129) 0%, rgb(209, 157, 79) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(209, 190, 79, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(100px + 16px);
  min-height: calc(40px + 16px);
  /* border: 3px solid #FBB710; */
  box-shadow: 0 0 60px rgba(209, 190, 79, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .1s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: rgb(255, 255, 255);
  transform: translateY(-3px);
}
.button:hover::before, .button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  /* border: 6px solid #FBB710; */
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation: ring 1.5s infinite; */
}

.button:hover::after, .button:focus::after {
  animation: none;
  display: none;
}

.button:focus{
  outline:0 !important;
}
/* @keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 120px;
    height: 120px;
    opacity: 0;
  }
} */

/* .wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(-50%);
          transform: translateY(0%);
} */
.wrapper {
  width: 60px;
  display: flex;
  margin-bottom: 10px;
}
.switch_box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60px;
  min-width: 20px;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box_4{
  background: #FEFEFE;
}

.input_wrapper{
  width: 60px;
  height: 20px;
  /* width: 80px;
  height: 40px; */
  position: relative;
  cursor: pointer;
}

.input_wrapper input[type="checkbox"]{
  /* width: 80px;
  height: 40px; */
  width: 60px;
  height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #ffffff;
  border-radius: 2px;
  position: relative;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.input_wrapper input[type="checkbox"]:hover{
  background-color: #FBB710;
}

.input_wrapper input[type="checkbox"]:after{
  position: absolute;
  content: "-";
  color: #ffffff;
  /* top: 1px; */
  left: 10px;
  width: 20px;
  /* width: 16px; */
  height: 100%;
  /* width: 34px;
  height: 34px; */
  background: #FBB710;
  z-index: 2;
  border-radius: 5px;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.input_wrapper svg{
  position: absolute;
  top: 40%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  fill: #fff;
  -webkit-transition: all .35s;
  transition: all .35s;
  z-index: 1;
}

.input_wrapper .is_checked{
  width: 13px;
  left: 18%;
  -webkit-transform: translateX(190%) translateY(-30%) scale(0);
          transform: translateX(190%) translateY(-30%) scale(0);
}

.input_wrapper .is_unchecked{
  width: 13px;
  right: 10%;
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

/* Checked State */
.input_wrapper input[type="checkbox"]:checked{
  background: #FBB710;
  /* transition: 5s; */
}

.input_wrapper input[type="checkbox"]:checked:after{
  /* left: calc(100% - 37px); */
  left: calc(100% - 22px);
  /* background: #ffffff; */
  border-radius: 1000px;
  content: 'Check';
  /* font-family: 'Times New Roman', Times, serif; */
  margin-left: 5px;
  width: 55px;
  color: #ffffff;
  /* transition: 1s; */
}

.input_wrapper input[type="checkbox"]:checked + .is_checked{
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

.input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
  -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
          transform: translateX(-190%) translateY(-30%) scale(0);
}

.btn_x {
  width: 30px;
  height: 30px;
}

.cart_null{
  margin-top: 56px;
  /* margin-left: 100%; */
  /* font-size: 400px; */
  color: #FBB710;
}
.x_pro_cart{
  margin-top: 1px;
  color: #f3be36;
}
.x_pro_cart:hover{
  color: #ffffff;
  background-color: #f3be36;
  transition: 0.5s;
}

.cont_principal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(224, 232, 245, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(224, 232, 245, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(224, 232, 245, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e8f5',GradientType=0 ); */
}



.bd_cont_principal{
  margin-left: -15px;
  margin-top: 90px;
  margin-bottom: 20px;
  padding: 0px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.cont_menu {
  display: flex;
  width: 227px;
  flex-direction: column;
}

.cont_titulo_menu {
  /* position: relative; */
  /* float: left; */
  display: flex;
  width: 100%;
  height: 42px;
  overflow: hidden;
  background-color: #FBB710;
  /* box-shadow: 0px 7px 30px -12px rgba(0, 0, 0, 0.5); */
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cont_icon_menu {
  display: flex;
  position: relative;
  float: right;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.cont_icon_menu > img {
  width: 32px;
  z-index: 2;
  position: relative;
}
.cont_titulo {
  position: relative;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  color: #fff;
}
.cont_titulo h6{
  color: #fff;
  font-size: 17px;
  margin-top: -5%;
}

.cont_circle_1 {
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #fff;
  opacity: 0.3;
  z-index: 0;
  border-radius: 50%;
  animation: animation_circle_1 3s infinite;
  animation-direction: alternate;
  transform: scale(0);
}
.cont_circle_2 {
  position: absolute;
  width: 128px;
  height: 128px;
  background-color: #fff;
  opacity: 0.2;
  z-index: 0;
  border-radius: 50%;
  animation: animation_circle_1 3s infinite;
  animation-direction: alternate;
  animation-delay: 0.5s;
  transform: scale(0);
}
.cont_circle_3 {
  position: absolute;
  width: 192px;
  height: 192px;
  background-color: #fff;
  opacity: 0.1;
  z-index: 0;
  border-radius: 50%;
  animation: animation_circle_1 3s infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  transform: scale(0);
}
.cont_circle_4 {
  position: absolute;
  width: 256px;
  height: 256px;
  background-color: #fff;
  opacity: 0.1;
  z-index: 0;
  border-radius: 50%;
  animation: animation_circle_1 3s infinite;
  animation-direction: alternate;
  animation-delay: 1.5s;
  transform: scale(0);
}

@-webkit-keyframes animation_circle_1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-o-keyframes animation_circle_1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-moz-keyframes animation_circle_1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animation_circle_1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cont_drobpdown_menu {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 20px -2px rgba(0, 0, 0, 0.3);
  /* margin-top: 10px; */
  border-radius: 3px;
  opacity: 1%;
  transition: opacity 500ms;
}
.cont_drobpdown_menu ul > li {
  list-style: none;
  margin-left: -3px;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  border-left: 5px solid #eee;
  width: 100%;
  display: block;
  transition: all 500ms;
}
.cont_drobpdown_menu ul > li:hover {
  border-left: 5px solid #FBB710;
}
.cont_drobpdown_menu ul > li:hover > itm {
  color: #6992fe;
}

.cont_drobpdown_menu ul > li:nth-child(2) {
  border: none;
}
.cont_drobpdown_menu ul > li > itm {
  position: relative;
  display: block;
  width: 90%;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  text-decoration: none;
  color: #c4d0de;
}

.cont_drobpdown_menu.active ul > li {
}

.cont_icon_trg {
  position: relative;
  float: left;
  aling-self:start;
  margin-bottom: -30px;
  z-index: 1;
  left: 10px;
  transform: translate(0px, 10px);
  transition: all 0.5s;
}

.disable {
  transition: all 0.5s;
  opacity: 0;
  transform: translate(0px, 10px);
}

.disable > ul > li {
  transform: translate(0px, 10px);
  opacity: 0;
}

.active {
  opacity: 1;
  transform: translate(0px, 0px);
}

.active > ul > li {
  transform: translate(0px, 0px);
  opacity: 1;
}

.img_cod{
  display: block;
  width: 100%;
  height: 100%;
}

 .img2{
  position: absolute;
}

.img1{
  /* max-width: 30px; */
  width: 50px;
  margin-left: -1862px;
  opacity: 0%;
  transform: rotate(-45deg);
  /* position: relative; */
}
.img_cod:hover .img1{
  width: 50px;
  opacity: 100%;
  margin-left: 60%;
  transform: rotate(0deg);
  transition: 1.5s;
}

.img2{
  max-width: 100px;
  opacity: 100%;
  margin-left: -50px;
  filter: drop-shadow(8px 8px 4px #FBB710);
}
.img_cod:hover .img2{
  filter: drop-shadow(0px 0px 0px #FBB710);
  margin-left: -80px;
  transition: 1s;
}
.font_i2{
  font-family: 'Dancing Script', cursive;
  /* font-weight: bold; */
  font-size: 25px;
}
.fontCSI{
  font-family: 'Times New Roman', Times, serif;
}
.fpCSI{
  /* color: #000000; */
}
.fpCSI span{
  color: #FBB710;
  font-weight: bold;
}
/* @media print {
  .noPrint{
    display:none;
  }
} */
.print_bill_bl{
  margin-left: 0%;
  margin-right: 0%;
}
.noPrint{
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
.noPrint:hover{
  color: #FBB710;
}
.noPrint:focus{
  outline:0 !important;
}
.lg_bill{
  position: relative;
  margin-left: 35%;
  margin-bottom: 20px;
}
.lg_bill a img{
  width: 327px;
  height: auto;
}

.ratings_2 i{
  opacity: 30%;
}
.ratings_2 i:hover{
  opacity: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.body_favo{
  margin-top: 10%;
  margin-left: 70px;
  max-width: 100%;
}
.table_favo{
  
}
.table_favo_2 tbody tr:hover{
  background-color: #f5f5f5;
}
.table_favo_2 tbody tr td{
  color: #8b8b8b;
}
.table_favo_2 tbody tr td:hover{
  color: #000000;
}

.modal {
  display: none; /* Ẩn Mặc Định */
  position: absolute; 
  z-index: 1; 
  padding-top: 100px; /* Vị trí của modal */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* thiết lập scroll khi cần thiết */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
/* #myBtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
   box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  outline: none;
} */

/* Nội Dung Modal */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  border-radius: 25px;
}

/* Nút Đóng Modal */
.close {
  margin-top: -20px;
  position: absolute;
  opacity: 0%;
}
.item_search{
  /* display: block; */
  /* position: absolute; */
  max-width: 177px;
}
.item_search input{
  width: 177px;
  border: none;
}
.item_search input:focus{
  color: #f3be36;
  outline:0 !important;
}
.item_search button{
  width: 150px;
  border: none;
  background-color: #fefefe;
}
.item_search button:focus{
  color: #f3be36;
  outline:0 !important;
}
.item_search button i{
  margin-top: 7px;
  margin-left: 10px;
}
.item_search button:hover{
  cursor: pointer;
}

.single_product_thumb div img{
  width: 297px;
  max-height: 262px;
}
.saless{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  color: #f3be36;
}
.saless p{
  margin-left: 5px;
  border-bottom: 1px dashed #f3be36;
}
.sales_{
  text-decoration-line:line-through;
  margin-right: 5px;
  color: #d2d2d2;
}
.img_detail {
  display: block;
  width: 620px;
  max-height: auto;
}

.add_to_cart i{
  color: #f3be36;
  opacity: 70%;
}
.add_to_cart i:hover{
  opacity: 100%;
  /* filter: drop-shadow(2px 2px 1px rgb(0, 0, 0)f); */
  cursor: pointer;
  transition: 0.3s;
}
.input_mail{
  max-width: 95%;
  position: absolute;
  background-color: #ffffff;
  margin-left: 50%;
  margin-top: 5px;
  padding-top: 30px;
}
.profile_inte{
  color: #000000;
}
.ibx {
  margin-bottom: 20px;
}
.form_control_ict{
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    /* color: #495057; */
    color: #FBB710;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.form_control_ict:focus{
  outline:0 !important;
}

.stt_b1{
  background-color: #000000;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  padding: 0.52em 0.593em;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
  font-size: 12;
  border-radius: 100px;
}
.stt_b1:hover{
  color: white;
  font-weight: bold;
  cursor: default;
  width: 100%;
  height: 100%;
  font-size: 12;
}
.stt_b2{
  background-color: rgb(128, 128, 128);
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  padding: 0.52em 0.593em;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
  font-size: 12;
  border-radius: 100px;
}
.stt_b2:hover{
  color: white;
  font-weight: bold;
  cursor: default;
  width: 100%;
  height: 100%;
  font-size: 12;
}
.stt_b3{
  background-color: #FBB710;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  padding: 0.52em 0.593em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
  font-size: 20;
  border-radius: 100px;
}
.stt_b3:hover{
  color: rgb(0, 0, 0);
  font-weight: bold;
  width: 100%;
  height: 100%;
  font-size: 20;
}
.stt_b4{
  background-color: #77d365;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  padding: 0.52em 0.593em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
  font-size: 12;
  border-radius: 100px;
}
.stt_b4:hover{
  color: white;
  font-weight: bold;
  cursor: default;
  width: 100%;
  height: 100%;
  font-size: 12;
}
.stt_b5{
  background-color: #ff0000;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  padding: 0.52em 0.593em;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
  font-size: 12;
  border-radius: 100px;
}
.stt_b5:hover{
  background-color: #dc0202;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 12;
}
.submit_cod{
  position: absolute;
  margin-top: 70px;
  margin-left: -95px;
  max-width: 190px;
  z-index: 1;
}
.submit_cod{
  border: none;
  width: 100%;
  padding: 5px 10px;
  background-color: #77d365;
  color: white;
  font-size: 20px;
}
.submit_cod:hover{
  opacity: 100%;
  cursor: pointer;
  transition: 0.5s;
}
.submit_cod:focus{
  outline:0 !important;
}
.update_address_{
  margin-left: 250px;
}
.update_address{
  color: #dca20e;
  font-size: 14px;
  text-transform: uppercase;
}
.update_address:hover{
  color: #FBB710;
  font-size: 14px;
  text-transform: uppercase;
}


/* Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2c2c2c;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.btn_update_city{
  /* position: absolute; */
  height: fit-content;
  margin-left: 10px;
  margin-top: 30px;
}
.btn_update_city button{
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  background-color: #77d365;
  color: rgb(255, 255, 255);
}
.btn_update_city button:hover{
  cursor: pointer;
}
.btn_update_city button:focus{
  outline:0 !important;
}

.form_control_ict_cty{
  /* display: block; */
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  /* color: #495057; */
  color: #FBB710;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form_control_ict_cty:focus{
  outline:0 !important;
}

.slct{
  width: 220px;
  height: 39px;
}
.form_control_ict_slct{
  width: 100%;
  height: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  /* color: #495057; */
  color: #FBB710;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.submit_profile{
  /* position: absolute; */
  /* margin-left: 5px; */
  margin-top: 30px;
  width: 220px;
}
.submit_profile button{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  background-color: #77d365;
  color: rgb(255, 255, 255);
}
.submit_profile button:hover{
  cursor: pointer;
}
.submit_profile button:focus{
  outline:0 !important;
}

.cmt_link{
  /* position: absolute; */
  margin-top: 90px;
}
